@charset "UTF-8";
/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.header{
	text-align: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    color: #555;
}

span {
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    background-color: #e9ecef;
    border-radius: 4px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"],#activateButton, #deleteBtn, #updateBtn{
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%;
    /* margin-right: 4%; */
}

input[type="reset"] {
    background-color: rgb(255, 255, 0);
    color: black;
}

#activateButton, #updateBtn{
	background-color: #007bff;
}

#deleteBtn {
	background-color: #d9534f;
}

input[type="submit"]:hover, input[type="reset"]:hover, #activateButton:hover, #deleteBtn:hover {
    opacity: 0.8;
}

a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}